<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#"><img src="https://financesonline.com/uploads/2019/09/Schoox-logo1.png" width="100" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Curricula</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-6">
            <h4>Courses</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of courses; let i = index">
                    <ng-container *ngIf="!course.edit">
                        <th scope="row"><img src="https://picsum.photos/120/75?a={{course.id}}" alt="" [title]="course.title"></th>
                        <td>{{course.title}}</td>
                        <td [ngClass]="{free: !course.price}">
                            <!--<ng-container *ngIf="course.price > 0">${{course.price}}</ng-container>
                            <ng-container *ngIf="!course.price">FREE</ng-container>-->
                            <span *ngIf="course.price > 0; else free">${{course.price}}</span>
                            <ng-template #free><span [ngStyle]="{'font-weight': getFontWeight(course)}">FREE</span></ng-template>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary mb-2 btn-block" (click)="edit(course)">Edit</button>
                            <button class="btn btn-sm btn-danger mb-2 btn-block" (click)="delete(course, i)">Delete</button>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="course.edit">
                        <th scope="row"><img src="https://picsum.photos/120/75?a=4" alt=""></th>
                        <td colspan="2">
                            <input type="text" class="form-control mb-2" [(ngModel)]="course.title">
                            <div class="input-group b-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" [(ngModel)]="course.price" class="form-control">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-success mb-2 btn-block" (click)="saveEdit(course)">Save</button>
                            <button class="btn btn-sm btn-dark mb-2 btn-block" (click)="cancelEdit(course)">Cancel</button>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="courses.length === 0">
                    <td colspan="4" class="text-center">No courses</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <button class="btn btn-primary mb-3" *ngIf="!initCourseNew" (click)="initCourseNew = !initCourseNew">Create new course</button>
            <div *ngIf="showAlertNewCourse" class="alert alert-success" role="alert">Done Saving</div>
            <form *ngIf="initCourseNew">
                <h4>Create new course</h4>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" [(ngModel)]="newCourse.title" class="form-control" placeholder="Type here...">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" [(ngModel)]="newCourse.price" name="price" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success mr-2" (click)="saveNewCourse()">Save</button>
                    <button class="btn btn-dark mr-2" (click)="initCourseNew = false">Cancel</button>
                </div>
            </form>
        </div>

        <div class="col-6">
            <h4>Curricula</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Courses</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><img src="https://picsum.photos/120/75?a=1" alt=""></th>
                    <td>How to solve a puzzle</td>
                    <td><button class="btn btn-sm btn-block btn-info">Hide</button></td>
                    <td>
                        <button class="btn btn-sm btn-primary mb-2 btn-block">Edit</button>
                        <button class="btn btn-sm btn-danger mb-2 btn-block">Delete</button>
                    </td>
                </tr>
                <tr class="table-info">
                    <td colspan="3">How to solve a puzzle</td>
                    <td><button class="btn btn-sm btn-danger mb-2 btn-block">Delete</button></td>
                </tr>
                <tr class="table-info">
                    <td colspan="3">Angular for dummies</td>
                    <td><button class="btn btn-sm btn-danger mb-2 btn-block">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row"><img src="https://picsum.photos/120/75?a=2" alt=""></th>
                    <td>Angular for dummies</td>
                    <td><button class="btn btn-sm btn-block btn-info">Show</button></td>
                    <td>
                        <button class="btn btn-sm btn-primary mb-2 btn-block">Edit</button>
                        <button class="btn btn-sm btn-danger mb-2 btn-block">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><img src="https://picsum.photos/120/75?a=3" alt=""></th>
                    <td>The best of the best courses</td>
                    <td><button class="btn btn-sm btn-block btn-info">Show</button></td>
                    <td>
                        <button class="btn btn-sm btn-primary mb-2 btn-block">Edit</button>
                        <button class="btn btn-sm btn-danger mb-2 btn-block">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <button class="btn btn-primary mb-3">Create new curriculum</button>
            <form>
                <h4>Create new curriculum</h4>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Type here...">
                </div>
                <div class="form-group">
                    <label>Courses</label>
                    <select name="courses" class="form-control" multiple>
                        <option value="1">How to solve a puzzle</option>
                        <option value="2">Angular for dummies</option>
                        <option value="3">The best of the best courses</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success mr-2">Save</button>
                    <button class="btn btn-dark mr-2">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
